*.pyc
*.json
*.png
*.jpg
*.jpeg
.data/
.models/
dist/
build/
scripts/
torch_enhance.egg-info/
.eggs/
.pytest_cache/
examples/lightning_logs/
.vscode/
.mypy_cache/
.pytest_cache/
docs/_build/
docs/_templates/
docs/_static/